<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>CORS</filter-name>
        <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
        <init-param>
            <param-name>cors.allowOrigin</param-name>
            <param-value>*</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CORS</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopRatedServletInjectionDepedency</servlet-name>
        <servlet-class>TopRatedServletInjectionDepedency</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TrendingServletChainOfResponsability</servlet-name>
        <servlet-class>TrendingServletChainOfResponsability</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrendingServletChainOfResponsability</servlet-name>
        <url-pattern>/trending/all/week</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NetflixOriginalsServletFactoryMethod</servlet-name>
        <servlet-class>NetflixOriginalsServletFactoryMethod</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NetflixOriginalsServletFactoryMethod</servlet-name>
        <url-pattern>/discover/netflixOriginals</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ComedyServlet</servlet-name>
        <servlet-class>ComedyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComedyServlet</servlet-name>
        <url-pattern>/discover/comedy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RomancesServletProxyServlet</servlet-name>
        <servlet-class>RomancesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RomancesServletProxyServlet</servlet-name>
        <url-pattern>/discover/romances</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DocumentariesServletStrategy</servlet-name>
        <servlet-class>DocumentariesServletStrategy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocumentariesServletStrategy</servlet-name>
        <url-pattern>/discover/documentaries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopRatedServletInjectionDepedency</servlet-name>
        <url-pattern>/movie/top_rated</url-pattern>
    </servlet-mapping>
</web-app>
